@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  overflow-x: hidden;
}

.lora {
  font-family: "Lora", serif;
}

.green-text {
  color: rgb(107, 219, 192)
}

.green-background {
  background-color: rgb(107, 219, 192)
}

.closed-menu {
  opacity: 0;
  transition: opacity 0.3s ease;
  display: block;
}

.open-menu {
  transition: opacity 0.7s ease;
  height: auto;
  background-image: url('./assets/logo-grey.svg');
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: 80%;
}

/* Override default prime react component colors */
li.p-highlight .p-tabview-nav-link {
  color:#333 !important;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  background-color:rgb(107, 219, 192) !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color:rgb(107, 219, 192) !important;
}

#eMcyvzsehbA226_to {
  animation: eMcyvzsehbA226_to__to 2100ms linear infinite normal forwards;
}
